.bioProfile{
    width: 100%;
    flex-direction: column;
}
.bioProfile .title-detailing{
    padding: 10px 0;
}
.bioProfile .title-detailing,
.bioProfile .value-detailing{
    width: 100%;
    border: none;
    justify-content: unset;
}
.blurImage{
    filter: blur(100px);
}
.basic-info{
    display: flex;
}
.personPoster{
    height: 390px;
    border-radius: 8px;
}
.personPhoto-card{
    border-radius: 10px;
    width: fit-content;
    overflow: hidden;
    min-width: 270px;
    height: 400px;
}
.personPhoto-card img{
    height: 400px;
    width: fit-content;
    object-fit: cover;
    object-position: center;
}

.banner-detail-page .PersonName{
    font-size: 6vw;
}
.timeLineHeadline{
    padding: 40px 0;
    font-family: "Syne", sans-serif;
}
.year-timeline{
    display: flex;
}
.yearTitle{
    font-family: "Syne", sans-serif;
    font-size: 2.5vw;
    width: 100px;
}
.MovieName{
    font-size: 25px;
    padding: 5px 0;
}
.MovieName:hover{
    color: cadetblue;
}
.timeline{
    width: 95%;
    margin-left: 5%;
    border-left: 1px solid #7a7a7a;
    padding: 40px 0;
    display: grid;
    gap: 1.4rem;
}

.timeline .timeCard{
    height: auto;
    width: 70%;
    margin-left: 4%;
position: relative;
}
.timeline .timeCard::before,
.timeline .timeCard::after{
    position: absolute;
    content: "";
    top: 50%;
    left: -6.34%;
    transform: translateY(-50%);
    background-color: aliceblue;
    border-radius: 50%;
}
.timeline .timeCard::before{
    height: 10px;
    width: 10px;
}
.timeline .timeCard::after{
    height: 5px;
    width: 5px;
    z-index: -1;
    left: -7%;
    padding: 7px;
    background-color: var(--background);
    border:1px solid aliceblue;
}
.timeline .timeCard .characterName{
    margin: 10px 0 0 0px ;
    opacity: 0.8;
}