@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  color: #fff;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #86B5D5;
  --poster-average-color: #181818;
  --font-color: #ffffff;
  --background: #1d1d1d;
  --secondary-background: #181818;
  --song-card: #212121;
  --navigation-btn: #ffffff;
  --navigation-btn-color: #212121;
}

body {
  background-color: var(--background);
}
a{
  text-decoration: none;
}
header {
  background-color: #11111165;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 10px 4%;
  z-index: 7;
  width: 92%;
}

.search-bar {
  border: 1px solid #8f8f8f75;
  background-color: #64646457;
  color: #fff;
  padding: 5px 18px;
  border-radius: 40px;
}

.search-bar input {
  outline: none;
  border: none;
  background-color: transparent;
}

.main {
  width: 95.5%;
  margin: auto;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movieCards {
  min-width: 200px;
  margin-right: 10px;
  overflow: hidden;
}

.movieCards .img-section {
  background-color: #86B5D5;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.movieCards img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.slideshow-container {
  /* display: none; */
  width: min(100%, 1400px);
  margin: 0px auto 0vh auto;
  height: 100%;
  height: 90vh;
  border-radius: 20px;
  position: relative;
}


.loader-img {
  position: absolute;
  height: 90vh;
  width: 100%;
}

.in-slideshow-container {
  overflow: hidden;
  width: 100%;
  margin: 0vh auto;
  height: 100%;
  height: 90vh;
  background-color: var(--main-color-light);
}


.in-slideshow-container>.mySlides {
  position: relative;
  display: none;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}


.in-slideshow-container .background {
  position: absolute;
  height: 85vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.in-slideshow-container>.mySlides>.backFilter {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
  background: linear-gradient(359deg, black, transparent);
  z-index: 1;
}

.in-slideshow-container>.mySlides>.banner-detail {
  display: flex;
  align-items: flex-end;
  position: absolute;
  height: 60vh;
  bottom: 50px;
  left: 5%;
  z-index: 2;
  width: 90%;
}

.in-slideshow-container>.mySlides>.banner-detail>img {
  border-radius: 10px;
  height: 70%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.in-slideshow-container>.mySlides .movie-detail {
  margin-left: 30px;
}

.in-slideshow-container>.mySlides .movie-detail h2 {
  font-weight: 400;
  margin: 10px 0;
}

.in-slideshow-container>.mySlides .movie-detail h5 {
  font-weight: 400;
}

.in-slideshow-container>.mySlides>.banner-detail h1 {
  font-family: "Syne", sans-serif;
  font-size: 60px;
  margin-bottom: 10px;
  color: #fff;
}

.in-slideshow-container>.mySlides .gence {
  display: flex;
  margin: 10px 0;
}

.in-slideshow-container>.mySlides .movie-detail .status,
.in-slideshow-container>.mySlides span {
  width: fit-content;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  font-size: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 4px 15px;
  border-radius: 20px;
  margin-right: 5px;
  color: #fff;
}

.in-slideshow-container>.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

.navigate {
  position: absolute;
  z-index: 6;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
}

.navigate .slidenavigateBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.navigate .slidenavigateBtn:hover {
  background-color: #ffffff4f;
  fill: #0e0e0e;
}

.navigate .next {
  transform: rotate(180deg)
}

.dot-section {
  padding: 10px 3px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot-section .dot {
  font-family: "Syne", sans-serif;
  display: flex;
  height: 14px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px 8px;
  transition: all 0.9s ease;
  color: transparent;
}

.dot-section .dot:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #ffffff8a;
}

.dot-section .active {
  margin: 4px 0;
  color: #ffffff;
}

.dot-section .active:before {
  height: 0;
}


.box-shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0px;
  background: linear-gradient(0deg, #111, #11111100);
}

#photoContainer img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.photo-detail-section {
  position: absolute;
  left: 5%;
  bottom: -20%;
  padding: 20px;
  text-align: left;
  width: 80%;
  /* border-radius: 10px; */
  /* background: var(--background-blur); */
  /* backdrop-filter: blur(4px); */
  /* border: 1px solid var(--background); */
}

.photo-detail {
  padding: 25px 0;
  /* color: rgb(255, 255, 255); */
}

.photo-detail h1 {
  font-size: 45px;
  height: 53px;
}

.photo-detail h1,
.photo-detail p {
  /* color: #fff; */
  font-weight: 500;
}


.location {
  font-weight: 300;
  color: #ffffff;
}

.location h6 {
  color: #fff;
}

.location svg {
  height: 12px;
}

.photo-detail p {
  padding: 5px 0;
}

.photo-detail p #flagImage {
  width: 17px;
}

.photo-detail-section h6 {
  margin: 5px 0 0 55px;
  opacity: 0.5;
  letter-spacing: 1.4px;
  font-weight: 200;
}



.cardSlider {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  transition: transform 0.5s ease;
}


.card-section {
  width: 100%;
  overflow: hidden;
}

.cardSlides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
a>.title{
  margin-top: 10px;
}

button.prevBtn,
button.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  opacity: 0.3;
  height: 35px;
  width: 35px;
  cursor: pointer;
  z-index: 5;
}

button.prevBtn:hover {
  opacity: 1;
}

button.nextBtn:hover {
  opacity: 1;
}

button.prevBtn {
  left: -19px;
}

button.nextBtn {
  right: -19px;
}